.footer {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
    margin-bottom: 4px;
    color: white;
  }

  p {
    line-height: 1.5rem;
    min-height: 1.25rem;
  }

  a:hover {
    text-decoration: underline;
  }
}
